<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice Quizzes</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
</head>
<body>
<div class="wrapper">
    <div class="app">
        <div class="headerWrapper">
            <header class="app-header"><img src="/images/React_logo.png" alt="React Logo">
                <h1>QUIZSPARK</h1></header>
            <main class="main" id="main">
                <div class="start"><h2>Welcome to <span th:text="${name}"></span>!</h2>
                    <h3 th:text="${description}"></h3>
                    <button class="btn btn-ui">Let's start</button>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>